body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 960px;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #f9faf9;
    font-size: 24px
}

ul {
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}



.hero h2 {
    color: #f9faf9;
    font-size: 48px;
    font-weight: extra-bold;
}

.heroBox {

}

.info {

}

.infoBox {

}

.quote {

}

.footer {
    background-color: #1f2937;

}
